body {
    position: relative;
    height: 100vh;
}
header{
     width: 100%;
     display: flex;
     position: sticky;
     top: 0;
}
#contenitore-header{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.navbar{
    width: 100%;
    display: flex;
    background-color: black;
    opacity: 0.5;
    color: orange;
}
#servizi{
    display: flex;
}
.servizi-item{
    padding: 10px;
    margin-right: 5px ;
    cursor: pointer;
    border: 1px solid blue;
}
.menù{
    display: none;
}
// main
.contenitor-carousel{
    width: 800px;
    margin: 0 auto;
    padding: 3rem;
}
.carousel-indicators button{
  background-color:black !important;
}

#Comments{
    background-color: orange;
    color: white;
    text-align: center;
}

.larghezzabox{
    width: 300px !important;
}

// footer
footer{
    width: 100%;
    background-color: black;
    opacity: 0.5;
    text-align: center;
    color: white;
    position: sticky;
    bottom: 0;
}


// media query
@media screen and (max-width: 468px){
    #servizi{
        display: none;
    }
    .menù{
        display: block
    }
}


@import "../../node_modules/bootstrap-icons/font/bootstrap-icons.css";
@import "../../node_modules/bootstrap-icons/font/bootstrap-icons.scss";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";